@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box {
    @apply shadow rounded bg-white;
  }
  .box-title {
    @apply px-5 py-3 font-semibold text-neutral-800 border-b border-neutral-100 capitalize;
  }
  .flex-center {
    @apply flex items-center justify-center
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.ant-modal-content {
  padding: 0 !important;
}
.ant-modal-close {
  display: none !important;
}