@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box {
    @apply shadow rounded bg-white;
  }
  .box-title {
    @apply px-5 py-3 font-semibold text-neutral-800 border-b border-neutral-100 capitalize;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .position-center {
    @apply absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%];
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}
.tox-notifications-container {
  display: none;
}

.ant-modal-content {
  padding: 0 !important;
}
.ant-modal-close {
  display: none !important;
}
